* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: skyblue;
  width: 100%;
  color: rgb(9, 24, 156);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

header h2 {
  margin-left: 100px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  gap: 3px;
}

#shows-counter {
  font-size: 20px;
  font-weight: bold;
}

i:hover {
  cursor: pointer;
}

.allShows {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.show {
  display: flex !important;
  flex-flow: column;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  border: 1px hidden;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
}

#show-img {
  height: 267px;
  width: 100%;
}

#like-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#show-title {
  margin: 0;
}

#likes {
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.comment p {
  margin-left: 20px;
  font-weight: bold;
}

.comment div:first-child p:first-child {
  margin-top: 25px;
}

.comment div:first-child p:last-child {
  margin-top: 20px;
}

#likes p {
  margin: 0;
}

.fa-heart {
  color: rgb(245, 17, 17);
}

#likes-counter {
  align-self: end;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 4px;
  font-weight: bold;
}

#likes-counter p {
  margin: 0;
  font-size: 20px;
}

#comment-btn {
  font-weight: bold;
  padding: 7px;
  width: 100px;
  align-self: end;
  border-radius: 5px;
  background-color: skyblue;
  border: 1px hidden;
}

#comment-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

#modal-popup {
  display: none;
}

#close {
  align-self: end;
  font-size: 20px;
  margin: 10px 30px 0 0;
}

#close:hover {
  color: red;
  cursor: pointer;
}

.modal-view {
  background: antiquewhite;
  border-radius: 20px;
  margin: 7.5vh 7.5%;
  width: 85%;
  gap: 30px;
  padding: 10px;
  height: 85vh;
}

.showList {
  display: flex;
  gap: 2%;
  height: 30%;
  width: 90%;
  margin: 0 auto;
}

.showList img {
  width: 40%;
  height: 100%;
}

.showContent {
  display: flex;
  flex-flow: column;
  gap: 2%;
  height: 100%;
}

.show-title {
  font-size: 3rem;
  font-weight: bold;
}

.show-summary {
  font-size: 1.2rem;
}

#comment-list {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px solid #000;
  width: 70%;
  height: 22%;
  overflow-y: scroll;
}

#comment-list div:first-child {
  padding-top: 5%;
}

.comment {
  font-size: 20px;
  display: flex;
  gap: 10px;
  padding: 7px 0;
  width: 100%;
}

#commentCounter {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  background-color: rgb(231, 236, 200);
}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: 20px;
}

#username {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
}

textarea {
  height: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
}

#submit {
  width: 80px;
  padding: 6px;
  border-radius: 5px;
  background-color: skyblue;
  align-self: center;
  border: 2px solid skyblue;
}

#submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

#errorMessage {
  align-self: center;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

footer {
  display: flex;
  background-color: skyblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-weight: bold;
  margin-top: 20px;
}

#creators {
  display: flex;
  font-size: 20px;
  gap: 5px;
}

.names {
  color: rgb(206, 15, 63);
}

@media only screen and (max-width: 768px) {
  header h2 {
    margin-left: 10px;
  }

  header div {
    margin-right: 30px;
  }

  #creators {
    font-size: 14px;
  }

  .modal-view {
    height: 90%;
    margin: 5% auto;
    width: 90%;
    padding: 5px;
    gap: 20px;
    justify-content: space-between;
  }

  .showList {
    flex-direction: column;
    gap: 20px;
  }

  .showContent {
    gap: 10px;
  }

  .show-title {
    font-size: 2rem;
  }

  .show-summary {
    font-size: 1.2rem;
  }

  .showList img {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .modal-img {
    width: 100%;
  }

  #comment-list {
    width: 75%;
  }

  .comment p {
    font-size: 1.2rem;
  }
}
