* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

i:hover {
  cursor: pointer;
}

.allShows {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.show {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
}

#show-img {
  height: 267px;
  width: 100%;
}

#like-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#show-title {
  margin: 0;
}

#likes {
  align-self: end;
  margin: 0;
  font-size: 20px;
}

#comment-btn {
  align-self: end;
  justify-self: end;
}

#modal-popup {
  display: none;
}

.modal-view {
  background: antiquewhite;
  border-radius: 20px;
  margin: 2%;
  width: 90%;
  padding: 10px;
  position: fixed;
  top: 0;
  overflow: auto;
  height: 92%;
}

.modal-view li {
  list-style-type: none;
}

.closeModal {
  text-align: end;
}

.closeModal button {
  font-size: 70px;
  color: #000;
  border: none;
  outline: none;
  background: none;
  margin-right: 20px;
}

.modal-title {
  font-size: 70px;
  padding-bottom: 30px;
}

h4.modal-summary {
  font-size: 25px;
}

#awesome-comments {
  display: flex;
  justify-content: center;
  margin: 0 10%;
  gap: 20px;
  align-content: center;
  align-items: center;
  min-height: 200px;
}

#headline {
  margin: 30px;
  display: flex;
  font-size: 30px;
}

h1#headline {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px 10%;
  padding: 10px;
  height: 30px;
}

#score {
  width: 100%;
}

.refresh {
  font-size: 23px;
  margin-bottom: 20px;
  width: 80%;
}

#comments-list {
  width: 100%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 5px;
  max-height: 50vh;
  overflow-y: scroll;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#add-comment-form h2 {
  font-size: 23px;
}

#input-form {
  min-height: 200px;
}

#input-form input[type="text"] {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

textarea {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

.inner-text {
  margin: auto;
}

#input-form input[type="submit"] {
  transition: 300ms;
  border: 3px solid;
  border-radius: 3px;
  box-shadow: 4px 4px 0 1px black;
  background-color: whitesmoke;
  align-self: end;
  padding: 5px 10px;
}

#input-form input[type="submit"]:hover {
  transform: scale(1.2);
}

.showContent {
  width: 50%;
}

img.modal-img {
  width: 40%;
  margin-left: 5%;
}

.showList {
  display: flex;
  gap: 20px;
  align-content: center;
  min-height: 200px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .showContent {
    width: 100%;
}

  .showList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    min-height: 200px;
    padding-bottom: 30px;
  }

  .modal-title {
    font-size: 25px;
    text-align: center;
}

h4.modal-summary {
  font-size: 20px;
  padding: 0 30px;
}

img.modal-img {
  width: 50%;
  align-self: center;
}

#awesome-comments {
  display: flex;
  flex-direction: column;
}

}